Debug
Release
scaly/main.o
scaly/scalyc
scalypp/scalypp.mk
scalypp/scalypp.txt
scalycpp/scalycpp.mk
scalycpp/scalycpp.txt
shortest/shortest.mk
shortest/shortest.txt
hello/hello.mk
hell/hello.txt
.build-debug
.codelite
Makefile
scaly.io/index.html
scaly.io/book
scalysh/obj
scalysh/.vs
scalysh/scalysh.csproj.user
scalysh/scalysh.userprefs
.vs
