Debug
Release
scaly/scaly.mk
scaly/scaly.txt
scalycpp/scalycpp.mk
scalycpp/scalycpp.txt
shortest/shortest.mk
shortest/shortest.txt
hello/hello.mk
hell/hello.txt
.build-debug
.codelite
Makefile
scaly.io/index.html
scaly.io/book
