Debug
Release
scaly/main.o
scaly/scalyc
scaly/scaly.mk
scaly/scaly.txt
scalypp/scalypp.mk
scalypp/scalypp.txt
scalycpp/scalycpp.mk
scalycpp/scalycpp.txt
shortest/shortest.mk
shortest/shortest.txt
hello/hello.mk
hell/hello.txt
.build-debug
.codelite
Makefile
scaly.io/index.html
scaly.io/book
scalysh/obj
scalysh/.vs
scalysh/scalysh.csproj.user
scalysh/scalysh.userprefs
scalysh/Properties/launchSettings.json
.vs
docs/build
docs/source/_build
rusty/scalyc/target
rusty/scalyc/.vscode
rusty/scaly/target
rusty/scaly/.vscode
scalyc/target
scalyc/.vscode
scaly/target
scaly/.vscode
.DS_Store